---
---

@import 'mixins';

$header-text: white;

/* --------------------------------------------- site header */

.site-header {
  background-image: url('{{ site.baseurl }}/images/blur.jpg');
  background-position: top center;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 40px;
  .site-title {
    @include sans-serif-light;
  }
  .logo-wrap {
    display: block;
    margin: 10% auto 8% auto;
    text-align: center;
  }
  img {
    width: 15%;
  }
  .text-logo {
    @include sans-serif-light;
    color: $header-text;
    font-size: 1.25em;
    display: block;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
    }
  }
}

.site-title,
.site-title:hover,
.site-title:visited {
  color: #333;
  text-decoration: none;
}

.site-nav {
  float: right;
  @include sans-serif-light;
}

.site-nav .menu-icon { display: none; }

.site-nav .page-link {
  margin-left: 20px;
  color: #727272;
  letter-spacing: -.5px;
}


@media screen and (max-width: 700px) {
  .logo-wrap {
    margin: 40px auto !important;
  }
  img {
    width: 35% !important;
  }
}



/* --------------------------------------------- Navigation*/

.navigation {
  overflow: hidden;
  text-align: center;
}
.nav {
  overflow: hidden;
  display: inline-block;
  list-style: none;
  li {
    float: left;
    a {
      @include sans-serif;
      display: block;
      color: $header-text;
      text-transform: uppercase;
      padding: 10px 15px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
