---
---

@import 'mixins.scss';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  //background: $body;
  background: white;
  @include serif;
  font-size: 17px;
  position: relative;
  line-height: 1.5;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @include sans-serif;
  letter-spacing: -0.02em;
}
h1 {
  font-size: 2.369em;
  line-height: 1.222em;
}
h2 {
  font-size: 1.777em;
}
h3 {
  font-size: 1.333em;
}
a {
  color: $blue;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
  transition: all 0.15s ease-in;
}

p {
  margin-bottom: 1.5em;
  line-height: 1.5em;
}

img {
  max-width: 100%;
}

footer.site-wide {
  @include sans-serif-light;
  color: #999;
  background: #f5f5f5;
  text-align: center;
  padding: 2em 0;
}

/* --------------------------------------- Divider Block */

.divider {
  position: relative;
  text-align: center;
  p {
    @include sans-serif-light;
    background: #fff;
    padding: 0 15px;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    text-transform: uppercase;
    z-index: 10;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    border-top: 1px solid rgba(0,0,0,0.25);
    width: 100%;
  }
}

/* --------------------------------------- Grid */
.row {
  overflow: hidden;
}
.column  {
  float: left;
  padding: 0 10px;
}

.half {
  width: 50%;
}
/* --------------------------------------- Single Page */
.single-page-content {
  min-height: 300px;
  margin: 3em auto;
  max-width: 800px;
  width: 75%;
}

@media screen and (max-width: 700px) {
  .single-page-content {
    margin: 10px auto;
    width: 98%;
  }
}

