---
layout: default
---
<div class='posts intro'>
  <h2>Emphasizing hands-on experience curated by a working professional, apprenticeships provide the best introduction to your personal path to mastery in a craft.</h2>
</div>
<div class='divider'>
  <p>Featured</p>
</div>

<div class='posts'>
  {% for post in site.categories['featured'] %}
  <a class='post featured' href="{{ post.url | prepend: site.baseurl }}">
    <section>
    <h2 class='post-title'>{{ post.title }}</h2>
    <h3><span class='post-author'>{% if post.author %} by {{ post.author }} {% endif %}</span> <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span></h3>
    <p class='post-tagline'>{{ post.tagline }}</p>
    </section>
  </a>
  {% endfor %}
</div>

<div class='module-quote'>
  <p class='quote'>&ldquo;If people knew how hard I had to work to gain my mastery, it wouldn't seem so wonderful at all&rdquo;</p>
  <p class='quote-author'>Michelangelo</p>
</div>
<div class='divider'>
  <p>Recent</p>
</div>

<div class='posts'>
  {% for post in site.posts %}
    <a class='post {{ post.size }}' href="{{ post.url | prepend: site.baseurl }}">
      <section>
        <h2 class='post-title'>{{ post.title }}</h2>
        <h3><span class='post-author'>{% if post.author %} by {{ post.author }} {% endif %}</span> <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span></h3>
        <p class='post-tagline'>{{ post.tagline }}</p>
      </section>
    </a>
  {% endfor %}
</div>

<div class='divider'>
  <p>Categories</p>
</div>

<div class='tag-lists'>
  {% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}


  <section class='tag-group'>
    <h2>{{ t }}</h2>
      <ul>
        {% for post in posts %}
        {% if post.tags contains t %}
        <li class='tagged-post'>
          <a href="{{ post.url | present: site.baseurl }}">{{ post.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</div>
