<footer class="site-wide">
  <div class='row'>
    <div class='column third'>
      <p>&copy; 2015 Paul Pagel</p>
    </div>
    <div class='column third'>
      <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl}}/about">About</a></li>
      </ul>
    </div>
    <div class='column third'>
      <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Google+</a></li>
      </ul>
    </div>
  </div>
</footer>
