<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <script src="//use.typekit.net/oer4vsd.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <link rel="stylesheet" href="{{ "/css/mixins.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/header.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/index.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/post.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/vendor/animate.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/modules/quote.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/modules/form.css" | prepend: site.baseurl }}">
</head>
