---
layout: default
---
<div class="single-post">
  <header class="post-header">
    <h1 class='post-title'>{{ page.title }}</h1>
    <h3 class='post-details'>{% if page.author %}{{ page.author }}{% endif %} {{ page.date | date: "%B %-d, %Y" }}</h3>
  </header>

  <article class="post-content">
  {{ content }}
  </article>


  <footer class='article-footer'>
    <div class='divider'>
      <p>Share</p>
    </div>
    <ul class='post-shares'>
      <li class='twitter'>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="gorilla_studios">Tweet</a>
      </li>
      <li>
        <div class="fb-share-button" data-href="{{ post.url | prepend: site.baseurl }}" data-layout="button_count"></div>
      </li>
      <li class='google'>
        <div class="g-plus" data-action="share" data-annotation="bubble"></div>
      </li>
    </ul>
    <div class='divider'>
      <p>Related</p>
    </div>

    {% for tag in page.tags %}
    <h3>{{ tag }}</h3>
    <ul>
      <li>###Need logic to spit out articles with related tags###</li>
    </ul>
    {% endfor %}

  </footer>
</div>





<div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<script src="https://apis.google.com/js/platform.js" async defer></script>

